<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara Customer Details</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin_assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/admin_assets/css/main.css" rel="stylesheet" type="text/css" />
    <style>
        /* Add custom styles for active sidebar items */
        .menu-aside .menu-item.active a {
            background-color: #333;
        }

        .menu-aside .menu-item.active a .icon {
            color: #fff;
        }

        .menu-aside .menu-item.active a .text {
            color: #fff;
        }
    </style>
</head>

<body>
    <!-- Header -->
    <header class="main-header navbar">
        <div class="col-search">
            <!-- Search form can be added here if needed -->
        </div>
        <div class="col-nav">
            <!-- Sidebar toggle button -->
            <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside">
                <i class="material-icons md-apps"></i>
            </button>
            <!-- User profile dropdown -->
            <ul class="nav">
                <!-- User notifications -->
                <li class="nav-item">
                    <a class="nav-link btn-icon" href="#">
                        <i class="material-icons md-notifications animation-shake"></i>
                        <span class="badge rounded-pill">3</span>
                    </a>
                </li>
                <!-- Fullscreen toggle -->
                <li class="nav-item">
                    <a href="#" class="requestfullscreen nav-link btn-icon">
                        <i class="material-icons md-cast"></i>
                    </a>
                </li>
                <!-- Language dropdown -->
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage"
                        aria-expanded="false">
                        <i class="material-icons md-public"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                        <!-- Language options -->
                        <!-- Example: -->
                        <a class="dropdown-item text-brand" href="#"><img src="/admin_assets/imgs/theme/flag-us.png"
                                alt="English">English</a>
                        <!-- Add more language options as needed -->
                    </div>
                </li>
                <!-- User profile dropdown -->
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                        aria-expanded="false">
                        <img class="img-xs rounded-circle" src="/admin_assets/imgs/people/avatar2.jpg" alt="User">
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                        <!-- User profile options -->
                        <!-- Example: -->
                        <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                            Profile</a>
                        <!-- Add more user profile options as needed -->
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <!-- Sidebar -->
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/admin_assets/imgs/theme/lensluxe.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/dashboard" onclick="highlightMenuItem(this)"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <!-- Customers link -->
                <li class="menu-item active">
                    <a class="menu-link" href="#" onclick="highlightMenuItem(this)">
                        <i class="icon material-icons md-people"></i>
                        <span class="text">Customers</span>
                    </a>
                </li>
                <!-- Categories link -->
                <li class="menu-item">
                    <a class="menu-link" href="/admin/category" onclick="highlightMenuItem(this)">
                        <i class="icon material-icons md-category"></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                <!-- Products link -->
                <li class="menu-item">
                    <a class="menu-link" href="/admin/product" onclick="highlightMenuItem(this)">
                        <i class="icon material-icons md-shopping_basket"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/order" onclick="highlightMenuItem(this)">
                        <i class="icon material-icons md-store"></i>
                        <span class="text">Order</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/offer" onclick="highlightMenuItem(this)">
                        <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Offer</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/coupon" onclick="highlightMenuItem(this)">
                        <i class="material-icons md-store"></i>

                        <span class="text">Coupon</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <!-- Main Content -->
    <main class="main-wrap">
        <!-- Your dashboard content can go here -->
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Customer Details</h2>
                </div>
            </div>
            <div class="right mt-5">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"><b>Username</b></th>
                            <th scope="col"><b>Email</b></th>
                            <th scope="col"><b>Status</b></th>
                            <th scope="col"><b>Action</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Customer details will be dynamically generated here -->
                        <% users.forEach(user => { %>
                            <tr>
                                <td><%= user.username %></td>
                                <td><%= user.email %></td>
                                <td><%= user.is_verified ? 'Verified' : 'Unverified' %></td>
                                <td>
                                    <% if (user.is_verified) { %>
                                        <!-- Button to block user -->
                                        <button class="btn btn-danger" onclick="blockUser('<%= user._id %>')" data-bs-toggle="modal" data-bs-target="#blockModal">Block</button>
                                    <% } else { %>
                                        <!-- Button to unblock user -->
                                        <button class="btn btn-success" onclick="unblockUser('<%= user._id %>')" data-bs-toggle="modal" data-bs-target="#unblockModal">Unblock</button>
                                    <% } %>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
    
                <!-- Pagination -->
                <div class="pagination-area mt-30 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <% for (let i = 1; i <= totalPages; i++) { %>
                                <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                    <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                                </li>
                            <% } %>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
    </main>
    
    <!-- Modals -->
    <!-- Block Modal -->
    <div class="modal fade" id="blockModal" tabindex="-1" aria-labelledby="blockModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="blockModalLabel">Block User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to block this user?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" onclick="confirmBlockUser()">Block</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Unblock Modal -->
    <div class="modal fade" id="unblockModal" tabindex="-1" aria-labelledby="unblockModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="unblockModalLabel">Unblock User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to unblock this user?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" onclick="confirmUnblockUser()">Unblock</button>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript Imports -->
    <script src="/admin_assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin_assets/js/vendors/bootstrap.bundle.min.js"></script>
    <!-- Add more JavaScript imports if needed -->
    <!-- Main Script -->
    <script src="/admin_assets/js/main.js" type="text/javascript"></script>
    <script>
        // Function to highlight clicked sidebar item
        function highlightMenuItem(item) {
            // Remove 'active' class from all menu items
            var menuItems = document.querySelectorAll('.menu-aside .menu-item');
            menuItems.forEach(function (menuItem) {
                menuItem.classList.remove('active');
            });

            // Add 'active' class to the clicked menu item
            item.parentNode.classList.add('active');
        }

        // Function to block user
        function blockUser(userId) {
            // Set the user ID in the modal for reference
            document.getElementById('blockModalLabel').innerText = 'Block User - ' + userId;
        }

        // Function to confirm blocking user
        function confirmBlockUser() {
            var userId = document.getElementById('blockModalLabel').innerText.split(' - ')[1];
            // Call backend route to block user using userId
            fetch(`/admin/block/${userId}`, {
                method: 'POST'
            })
            .then(response => {
                if (response.ok) {
                    // Reload the page to reflect changes
                    window.location.reload();
                } else {
                    console.error('Error blocking user');
                }
            })
            .catch(error => console.error('Error blocking user:', error));
        }

        // Function to unblock user
        function unblockUser(userId) {
            // Set the user ID in the modal for reference
            document.getElementById('unblockModalLabel').innerText = 'Unblock User - ' + userId;
        }

        // Function to confirm unblocking user
        function confirmUnblockUser() {
            var userId = document.getElementById('unblockModalLabel').innerText.split(' - ')[1];
            // Call backend route to unblock user using userId
            fetch(`/admin/unblock/${userId}`, {
                method: 'POST'
            })
            .then(response => {
                if (response.ok) {
                    // Reload the page to reflect changes
                    window.location.reload();
                } else {
                    console.error('Error unblocking user');
                }
            })
            .catch(error => console.error('Error unblocking user:', error));
        }
    </script>
</body>

</html>
